.container {
  width: 400px; 
  height: 160px; 
  margin-left: auto;
  margin-right: auto;
  border: px solid white;
  margin-top: 5px;
  position: relative;
}

#img1{
  background-image: url(https://78.media.tumblr.com/c9bd6a3eab7fddc4d00b6aca83fcada0/tumblr_inline_p9h607Lo0O1rp62eq_250.gif);
  background-size: cover;
  background-position: center;
  width: 150px; 
  height: 150px; 
  border: 5px solid black; 
  -webkit-transition: ease-in-out 0.7s;
  -moz-transition: ease-in-out 0.7s; 
  -o-transition: ease-in-out 0.7s;  
  -ms-transition: ease-in-out 0.7s; 
  transition: ease-in-out 0.7s;  
  transition-delay: 0.7s; 
  padding-top: 55px;
  box-sizing: border-box;
  float: left;
  outline: 1px solid white;
  margin: 5px;
}
#texto1{
  -webkit-transition: ease-in-out 0.7s; 
  -moz-transition: ease-in-out 0.7s; 
  -o-transition: ease-in-out 0.7s; 
  -ms-transition: ease-in-out 0.7s; 
  transition: ease-in-out 0.7s; 
  transition-delay: 0.7s;
  width: 70px;
  height: 35px;
  padding-bottom: 5px;
  outline: 1px solid transparent;
  outline-offset: 2px;
  background-color: transparent;
  color: transparent;
  font-size: 30px; 
  font-family: 'Sacramento',cursive;
  
}
#tag2{ 
  width: 233px; 
  height: 31px; 
  border-bottom: 1px dotted white; 
  color: white; 
  font-size:32px; 
  font-family: 'Sacramento',cursive;
  -webkit-transition: ease-in-out 0.7s; 
  -moz-transition: ease-in-out 0.7s; 
  -o-transition: ease-in-out 0.7s; 
  -ms-transition: ease-in-out 0.7s; 
  transition: ease-in-out 0.7s; 
  transition-delay: 0.7s; 
  float: left;
  margin-top: 3px;
  text-shadow: 1px 1px #cc3366;
  z-index: 3;
}
.container:hover #img1{
  outline: 1px solid #cc3366;
  background-image:url(https://78.media.tumblr.com/aad8fc9629ab09808e5d05742ef84da2/tumblr_inline_p9h606xuwO1rp62eq_250.gif);
  background-size: cover;
  background-position:center;
}
.container:hover #texto1{
  padding-bottom: 5px;
  outline: 1px solid #cc3366;
  outline-offset: 2px;
  background-color: #ffffff8a;
  color: #cc3366;
  font-size: 30px; 
  font-family: 'Sacramento',cursive;
}
.container:hover #tag2{
  color: #cc3366;
  text-shadow: 1px 1px #eee;
  border-bottom: 1px dotted #cc3366;
}
#texto2{
 color: white;
 font-family: calibri;
 font-size: 9px;
 text-transform: uppercase;
 line-height: 166%;
 color: #666666;
 width: 235px;
 height: 120px;
 float: left;
 margin-top: 1px;
 padding: 9px;
 box-sizing: border-box;
 border: 1px solid white;
 text-align: justify;
 letter-spacing: 1px;
 -webkit-transition: ease-in-out 0.7s; 
 -moz-transition: ease-in-out 0.7s; 
 -o-transition: ease-in-out 0.7s; 
 -ms-transition: ease-in-out 0.7s; 
 transition: ease-in-out 0.7s; 
 transition-delay: 0.7s; 
 
}
.container:hover #texto2{
  border: 1px solid #cc3366;
}

#cd{
 color: white;
 font-family: calibri;
 font-size: 6px;
 text-transform: uppercase;
 color: #666666;
float: right;
text-align: justify;
 letter-spacing: 1px; }
